@import "../../../index.css";
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* ★ テキスト選択時のスタイルを適用 */
  ::selection {
    background-color: #99f6e4;
    /* tailwind teal-200 */
    color: #134e4a;
    /* tailwind teal-900 */
  }

  /* ★ スクロールバーのスタイル ★ */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* スクロールバーの幅 */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    /* トラックの背景を透明に */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #475569;
    /* スクロールバーのつまみ部分の色 (slate-600) */
    border-radius: 4px;
    /* つまみの角を丸くする */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #64748b;
    /* ホバー時のつまみの色 (slate-500) */
  }
}

:root {
  height: 100vh;
}
